.app {
  display: flex;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  gap: 20px;
  margin: 10px;
  &__side {
    flex: 1 0 0;
    background-color: #102633;
    min-width: 600px;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    padding: 20px;
  }

  &__table-row {
    height: 30px;
    font-size: 22px;
  }
}
